# ignore docs folder
docs/* linguist-vendored

#sources
*.c text diff=cpp linguist-language=c++
*.cc text diff=cpp linguist-language=c++
*.cxx text diff=cpp linguist-language=c++
*.cpp text diff=cpp linguist-language=c++
*.c++ text diff=cpp linguist-language=c++
*.hpp text diff=cpp linguist-language=c++
*.h text diff=cpp linguist-language=c++
*.h++ text diff=cpp linguist-language=c++
*.hh text diff=cpp linguist-language=c++

# Compiled Object files
*.slo binary
*.lo binary
*.o binary
*.obj binary

# Precompiled Headers
*.gch binary
*.pch binary

# Compiled Dynamic libraries
*.so binary
*.dylib binary
*.dll binary

# Compiled Static libraries
*.lai binary
*.la binary
*.a binary
*.lib binary

# Executables
*.exe binary
*.out binary

